@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

.gradient__text{
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}