@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

body{
    background-color: rgb(255, 252, 249);
}

*{
    font-family: 'Sora', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-size: 100px;
}