

.container{
    padding: 1rem;
    background-color: #EFE9E3;
    color: #4E5255;
    display: flex;
    margin: 0px;
}

.row {
	width: 33%;
	height: fit-content;
}

.submain{
    background-color:#EFE9E3;
    color: #4E5255;
    height: fit-content;
    padding: 10px 0px;
    font-size: var(--subfooterTextSize);
    text-align: center;
}