h1{
    font-size: 50px;
}

.containermain{
    background: rgba(255, 255, 255, 0);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1500px) / 2);
    z-index: 10;
}